version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - restaurant-network

networks:
  restaurant-network:
    driver: bridge
    name: restaurant-network
